.caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}

.width-and-height {
  height: 50px;
  width: 50px;
}

.roxa {
  padding:20px;
}

.cinza {  
  padding:20px;
  margin:30px;
}

.azul {
  margin:30px;
  padding:20px;
  border: 5px solid #444955;
}