.super-mario {
  height: 200px;
  position: absolute;
  z-index: 2;
  left: 85px;
}

.goomba {
  height: 200px;
  top: 257px;
  position: absolute;
  z-index: 1;
}

.baloon { 
  position: absolute;
  z-index: 3;
  top: 150px;
  left: 400px;
  height: 100px;
}

.word {
  position: absolute;
  left: 405px;
  top: 170px;
  z-index: 4;
  font-size: small;
}

.bowser {
  position: absolute;
  top:150px;
  height: 200px;
  left: 550px;
  z-index: 5;;
}