body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

.forms {
  width: 500px;
  height: 300px;
  margin: auto;
  display: flex;
  text-align: center;
  flex-flow: column;
  padding: 10px;
  background-color: gray;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}

.forms input, textarea {
  width: 100%;
}
