body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: whitesmoke;
}

body::-webkit-scrollbar {
  display: none;
}

.btn {
  height: 50px;
  margin: 0 10px 0 10px;
}

fieldset {
  display: flex;
  flex-flow: column;
}

form {
  background-color: white;
  width: 600px;
  box-shadow: 3px 3px 10px gray;
  border-radius: 10px;
  padding: 20px;
}

textarea {
  resize: none;
}

legend {
  margin-top: 10px;
}

.form-floating {
  margin-bottom: 10px;
}

select:hover {
  cursor: pointer;
}

.form-check-input:hover, .form-check-label:hover {
  cursor: pointer;
}

.result-container {
  background-color: white;
  width: 600px;
  box-shadow: 3px 3px 5px gray;
  border-radius: 10px;
  padding: 20px;
}

.result-container p {
  margin: 10px 0 20px;
  box-shadow: 1px 1px 3px gray;
  border-radius: 5px;
  padding: 5px;
  background-color: #E8F0FE;
  word-break: break-word;
}

.result-container h1 {
  margin-bottom: 63px;
}
