html {
  box-sizing: border-box;
}

body {
  text-align: justify;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: larger;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
}

.asides {
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
}

.asides h2 {
  text-align: center;
}

.asides ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.asides ul li { 
  margin-bottom: 20px;
}

article {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 150px;
  padding-right: 150px;
  font-size: larger;
}

article h1 {
  margin-top: 0;
  text-align: center;
  font-size: xx-large;
}

footer {
  padding-left: 150px;
  padding-right: 150px;
  font-size: medium;
}

footer h3 {
  text-align: center;
}
